body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,hr,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{margin:0;padding:0}
body,input,textarea,select,button{font-family: 'Microsoft Yahei', 'Simsun'; font-size:62.5%;}
body{line-height:1.5;color:#333; background-color:#f6f6f6; padding-bottom:9em}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal}
ul,ol,li{list-style:none}
i,em{font-style:normal}
.cur,button{cursor:pointer}
:focus{outline:0 none}
a {text-decoration:none;color:#333;}
a:hover,a:active,a:focus {color:#900;text-decoration:none}
a:active {color:#9e9e9e}
fieldset,img{vertical-align:middle;border:0 none}
table{border-collapse:collapse;border-spacing:0}
.clear{clear:both}
.clr{display:block;overflow:hidden;clear:both;height:0;line-height:0;font-size:0}
.clearfix:after{content:".";clear:both;height:0;visibility:hidden;display:block}
.clearfix{display:inline-block}
*html .clearfix{height:1%}
.clearfix{display:block}

/* 共用样式 */
.red{ color:#f7311c}
.green{ color:#097e38}
.gray{ color:#a2a1a1}
.blue{ color:#3682e0}
.fl{ float:left}
.fr{ float:right}



/* .header{ padding:1.2em 0; color:#fff; text-align:center; overflow: hidden;background:#fff; border-bottom:1px solid #e5e5e5; position:relative} */
.header{ padding:1.2em 0; color:#fff; text-align:center; overflow: hidden;background:#fff; border-bottom:1px solid #e32528; position:relative}
.header a.fal{position:absolute; top:1.2em; left:1em;font-size:1.4em; padding-left:1.2em; color:#f7311c; background:url(../images/fal_red.png) no-repeat 0 center; background-size:.9em auto}
.header a.fal1{text-align: center;font-size:1.8em; color:#000000; background-size:.9em auto}
.header h1{font-size:1.6em; color:#f7311c}
.agree-btn{ margin:1em 1em 0 0; text-align:right}
.agree-btn a{font-size:1.4em; color:#f7311c}
.agree-btn .fal-ls{float: left; position:absolute; top:0.9em; left:1em;font-size:1.4em; padding-left:1.2em; color:#f7311c; background:url(../images/fal_red.png) no-repeat 0 center; background-size:.9em auto}

.integral-con{ background:#fff; border-top:1px solid #e5e5e5; border-bottom:1px solid #e5e5e5}
.integral-con dd{ position:relative; padding:1em;border-bottom:1px solid #e5e5e5; margin-bottom:-1px; overflow:hidden;display:-moz-box;display:-webkit-box;display:box}
.integral-con dd a{ display:block; width:100%}

.information-tit{ padding:1em 1em .5em; color:#333; font-size:1.4em}
.weifad{ font-size:1.4em; padding:.5em 2.5em .5em 1em; color:#000; overflow:hidden}
.weifad ul{display:-moz-box;display:-webkit-box;display:box}
.weifad li.one{-webkit-box-flex:1;-moz-box-flex:1;box-flex:1}

.hregr-tit{ margin-top:1em; padding:.5em 1em; background:#999; color:#fff}

.subscribe-gmrek{ padding:.5em 0; position:relative}
.subscribe-btn{ position:absolute; right:1em; top:1.5em}
.subscribe-btn a{ font-size:1.4em; background:#fd747c; color:#fff; border-radius:.3em; padding:.4em .5em}
.subscribe-btn a:hover{ background:#fc858c}


.integral-con .integral-left{ font-size:1.4em; color:#333; margin-right:1em}
.integral-con .integral-right{ font-size:1.4em; text-align:right; -webkit-box-flex:2;-moz-box-flex:2;box-flex:2;}
.integral-con .query-right{ text-align:right; -webkit-box-flex:2;-moz-box-flex:2;box-flex:2}
.integral-con .query-right .gnwk{ font-size:1.4em; border:0; width:8em}
.integral-con .query-right .region{ display:inline-block; font-size:1.4em; border-right:1px solid #e5e5e5; padding-right:.5em; margin-right:.5em}
.integral-con .nknel-rnged .gnwk{ font-size:1.4em; border:0}
.integral-con .query-right .plate-car{ display:inline-block;  width:7em; text-align:left; vertical-align:-.3em}
.integral-con .query-right .weui_btn{ position:absolute; right:0; top:.6em; border:1px solid #f7311c; background:none; cursor:pointer; color:#f7311c; border-radius:.3em; padding:.2em .5em; font-size:1.4em}

.integral-con .plate-right{ text-align:left}

.depressed{ margin-top:2em; padding:0 1em; overflow:hidden}
.depressed li{ margin-bottom:1em; text-align:center}
.depressed li a{ display:block; padding:.8em 0; border-radius:.3em; color:#ef2e24; font-size:1.4em}
.depressed li a.cancel{ border:1px solid #ef2e24}
.depressed li a.ment{ background:#f7311c; color:#fff}
.depressed li a.ment2{ background:#fd747c; color:#fff}
.depressed li a.dark{ background:#b0b0b0}
.depressed li a.pink{ border:1px solid #f7311c; color:#f7311c; background:none}
.depressed li a.pink:hover{ border:1px solid #f7311c; color:#f7311c; background:none}

.detailed{ margin-top:1em; background:#fff;border-top:1px solid #e5e5e5;border-bottom:1px solid #e5e5e5; padding-bottom:2em; overflow:hidden}
.pagecon   { padding:1.5em}
.pagecon img { width:100%}
.pagecon p { font-size:1.4em; margin-bottom:1em}
.pagenew-stit{ border-bottom:1px solid #e5e5e5; padding:1.5em 1em; overflow:hidden}
.pagenew-stit h5{display: block; font-size:1.8em; text-align:center; font-weight:bold}
.pagenew-tips{ font-size:1.4em;border-bottom:1px solid #e5e5e5; padding:1.5em 1em; overflow:hidden}


.complaint-con{ background:#fff; border-top:1px solid #e5e5e5; border-bottom:1px solid #e5e5e5}
.complaint-con li{ display:block; padding:1em 1em 1em 4em; background:url(../images/edit.png) no-repeat 1em center; background-size:2em auto}

.bank-card{ padding:1em 2em}
.bank-card img{ width:100%}

.explain-text{ overflow:hidden}
.explain-text h5{ font-size:1.4em; padding:0 1em; color:#000}
.explain-text p{ font-size:1.4em; padding:1em 1em 0; color:#f7311c}

.kewke-tab{ background:#fff; padding:1em 0; border-top:1px solid #e5e5e5; border-bottom:1px solid #e5e5e5;}

.link-btn{ padding:0 1em; overflow:hidden}
.link-btn a{ font-size:1.4em}


.complaint-con li .shuru{-webkit-box-flex:1;-moz-box-flex:1;box-flex:1; padding-right:2em; margin-top:.1em; position:relative; text-align:right}
.complaint-con li .send{  display:block; margin-right:.5em; background:#488bfa; width:2.5em; height:2.5em; border-radius:5em; color:#fff; text-align:center; line-height:2.5}
.complaint-con li .collect{ display:block; margin-right:.5em;  background:#ef2e24; width:2.5em; height:2.5em; border-radius:5em; color:#fff; text-align:center; line-height:2.5}
.complaint-con li .gnwk{width:100%; display:block; border:0; font-size:1.4em;}



.number-con{ background:#fff; border-top:1px solid #e5e5e5; border-bottom:1px solid #e5e5e5; overflow:hidden}
.number-con dt{ background:#fff; border-bottom:1px solid #e5e5e5; overflow:hidden}
.number-con dt span{ display:block; font-weight:300; padding:.5em 0; font-size:1.4em; float:left; width:33.3%; text-align:center}
.number-con dd span{ display:block; padding:1em 0; font-size:1.4em; float:left; width:33.3%; text-align:center}
.number-con dd a{ display:block; background:url(../images/you.png) no-repeat 97% center; background-size:.8em auto; overflow:hidden}




.day-con{background:#fff; border-top:1px solid #e5e5e5; border-bottom:1px solid #e5e5e5}
.day-con dd{position:relative;  margin:0 1em; padding:1em 0;border-bottom:1px solid #e5e5e5;display:-moz-box;display:-webkit-box;display:box; margin-bottom:-1px}
.day-con dd a{display:-moz-box;display:-webkit-box;display:box; width:100%;font-size:1.4em;background:url(../images/you.png) no-repeat right center; background-size:0.6em auto}
.day-con dd a .integral-left{-webkit-box-flex:1;-moz-box-flex:1;box-flex:1;}
.day-con dd a .integral-left h5{ white-space:nowrap; text-overflow:ellipsis; overflow:hidden; color:#4a90e2}
.day-con dd a .integral-left p{ white-space:nowrap; text-overflow:ellipsis; overflow:hidden}

.day-con dd a .integral-right{ padding-right:1.5em; color:#999; text-align:right;}
.day-con dd a .integral-right h5{ color:#f7311c}


.flip-btn{ margin:2em 0 0 1em; overflow:hidden}
.flip-btn li{ float:left; width:50%; text-align:center}
.flip-btn li a{ display:block; margin-right:1em; background:#fff; font-size:1.4em; border:1px solid #e5e5e5; border-radius:.3em; padding:.7em 1em}
.flip-btn li a.on{ background:#fd747c; color:#fff;border:1px solid #fd747c;}



.success-con{ background:#fff; border:1px solid #e5e5e5; border-radius:.5em; margin:1.5em 1em 0}
.success-con dt{ text-align:center}
.success-con dt h5{ font-weight:bold; padding:2em 1em 0; font-size:2em; color:#e94531}
.success-con dt h5 img{ width:5em; margin-right:1em}
.success-con dd{ padding:2em}
.success-con dd p{ font-size:1.4em; line-height:2; color:#999}

.expertise-con{ border:0; margin:0}

.CheckBoxLabelClass,.CheckBoxClass{display: none;}
.CheckBoxLabelClass{background: url(../images/uncheck.png) no-repeat left .7em;background-size:1.6em auto;padding:.31em 0 .31em 2em;display: block;}
.LabelSelected{ background: url(../images/check.png) no-repeat left .7em;background-size:1.6em auto;}


.payment-input{ background:#fff; border:1px solid #e5e5e5; padding:1.5em; overflow:hidden}
.payment-input .mgwge{ float:left; width:23%; font-size:1.4em; color:#999}
.pincode-input-container{ float:right; width:70%; border-left:1px solid #e5e5e5}
.payment-input input{ width:15%; text-align:center; font-size:1.4em; border:0; border-right:1px solid #e5e5e5}


.query-up{ padding:1.5em 1em 0; overflow:hidden}
.query-up dt{font-size:1.6em; margin-bottom:.8em; color:#999}
.query-up dd p{ padding:.8em 0; font-size:1.4em; color:#b7b7b7; border-top:1px solid #e2e2e2}

.lifek-box{ margin-top:2em}

.mydd{ margin-top:10em; padding:0 1em; text-align:center}
.mydd .picture{ margin-bottom:1em}
.mydd .picture img{ width:8em}
.mydd p{ font-size:1.6em; color:#000}
.error-prompt .depressed{ margin:2em 7em 0}
/*payment_time*/
.payment_time_mask{display:none}
.payment_time_mask{z-index:999;position:fixed;top:35%;left:0; right:0; overflow:hidden}
#payment_bg{background-color:#000;position:fixed;z-index:99;left:0;top:0;display:none;width:100%;height:100%;opacity:.3;filter:alpha(opacity=30);-moz-opacity:.3}

.book-box{ margin:0 1em}
.show_body{ padding:2em; background:#fff;text-align:center; overflow:hidden}
.show_body h1{font-size:1.4em; margin-bottom:1em;text-align:center;color:#f7311c}
.show_body a{ padding:1em 3em; border-radius:.3em ;background:#0071ce; color:#fff;font-size:1.4em;text-align:center;display:inline-block;outline:0 none;text-decoration:none;margin-top:1em}


.alieditContainer{position:relative;}
.alieditContainer .i-text{position: absolute;color: #fff;opacity:0.2; width:100%; height:48px; left:0; right:0; -webkit-user-select:initial;  /*取消禁用选择页面元素*/z-index:9;border:0;}
.alieditContainer .sixDigitPassword { display:inline-block; width:100%; height:22px; cursor:text; background:#fff; outline:none; position:relative; padding:13px 0; border:1px solid #ddd; border-radius:5px;}
.alieditContainer .sixDigitPassword i {width:16%; height:16px; float:left; display:block; padding:4px 0; border-left:1px solid #cccccc;}
.alieditContainer .sixDigitPassword i:first-child{border-left:0;}
.alieditContainer .sixDigitPassword b{display:block; margin:5px auto 4px auto; width:7px; height:7px; overflow:hidden; display:none;/*visibility:hidden;*/ background:#000; border-radius:100%;}


.cloth{width: 100%;height: 100%;background-color: rgba(155,155,155,0.8);position: fixed;top: 0; left: 0; z-index: 999;}
.btn-style{border: 1px solid #ffaa22;background:-webkit-gradient( linear, left top, left bottom, color-stop(8%, #ffec64), color-stop(97%, #ffab23) );background-color: #ffec64;color:#ffd;display: inline-block;text-shadow:0px 0px 0px #ffee66;box-shadow:inset 0px 0px 0px -50px #fff6af;font-size:14px;font-family: Verdana;font-weight: normal;-moz-border-radius: 25px;-webkit-border-radius: 25px;border-radius: 25px;padding: 5px 25px;text-decoration: none;}
.prize-detail{position: relative;font-size:1.5em;text-align: left;width:70%;color:red;}

.award-list{ background:#fff; overflow:hidden;margin-top: .4em;}
.award-list li{ padding:1em 1em 1em 0; position:relative; overflow:hidden; margin-left:1em; border-bottom:1px solid #eee; margin-bottom:-1px;display:-moz-box;display:-webkit-box;display:box}
.award-list li a{ display:block; width:100%; position:relative;display:-moz-box;display:-webkit-box;display:box}
.award-list li .list-pic{ margin-right:1em}
.award-list li .list-pic img{ display:inline-block; width:8em; height:6em;border: 1px solid #e0e0e0;}
.award-list li .list-con{ -webkit-box-flex:2;-moz-box-flex:2;box-flex:2;}
.award-list li .list-con h5{font-size:1.4em; white-space:nowrap; text-overflow:ellipsis; overflow:hidden}
.award-list li .list-con p{ color:#a6a6a6; font-size:1.2em;overflow:hidden}
.award-list li .promote{margin-top: 3.5em;}
.award-list li .promote span{background-size: 1em auto;padding:4px 10px 4px 10px;font-size:1.5em;border:1px solid #fcd9d1;border-radius:25px;}

.nav-list{ display:block; width:100%; position:relative;display:-moz-box;display:-webkit-box;display:box}
.nav-list div{cursor: pointer; border:1px solid transparent;width: 99%;box-sizing: border-box;text-align: center;background-color: #fff;font-size: 1.8em;line-height: 2.5em;border-bottom: 1px solid #e32528;padding-left:2px;}
.nav-list div span{background-size: 0.8em auto;}

.outer-container,.content {height: 250px;}
.outer-container {overflow: hidden;}
.inner-container {overflow-x: hidden;overflow-y: scroll;}
 
 /* for Chrome */
.inner-container::-webkit-scrollbar {display: none;}
#showBut{text-align: center;padding-top: .3em;}
.showMore{font-size: 1.5em;background: #fdfcfc;border: none;color: #383737;border-radius: .3em;padding: .2em .2em;letter-spacing:.1em;}